parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/Contracts

    # PHP 8.1+ features
    phpVersion: 80100

    # Report mixed
    checkMissingIterableValueType: true
    checkGenericClassInNonGenericObjectType: true

    # Stricter checks
    reportUnmatchedIgnoredErrors: false
    treatPhpDocTypesAsCertain: false

    # Extensions
    stubFiles:
        - stubs/Redis.stub
